.preenchimento{
    display: flex;
    justify-content: space-between;
    border: 8px solid #a86f37;
    border-radius: 10px;
    margin: 10px 0px 10px 0px;
    padding: 10px;
}
.imagem_feliz img{
    max-width: 100%;

}