main {
    display: flex;
    flex-direction: row-reverse;
}

.tutor-folder {
    background-color: #B77A3B;
    border: 2px solid;
    border-radius: 15px 0px 0px 15px;
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pets-folder{
    background-color: #B77A3B;
    border: 2px solid;
    border-radius: 0px 15px 15px 0px;
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}