body {
    background-color: #ffda99;
    font-family: "Lato", sans-serif;
}

.navbar{
    display: flex;
    background-color: #623f19;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    border: 0;
}

.logo{
    width: 700px; 
    margin-left: auto;
    margin-right: auto; 
}

.navbar input [type=text] {
    float: right;
    padding: 6px;
    width: 30px;
    border: none;
    margin-right: 16px;
    font-size: 30px;
  }
  .navbar .search-bar button {
    float: right;
    padding: 6px 30px;
    margin-right: 16px;
    background: #ddd;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }
  
  .navbar .search-bar button:hover {
    background: #ccc;
  }

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}